@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bus Board</h1>
    <table>
        <tr>
            <th>Bus</th>
            <th>Towards</th>
            <th>Arrival time</th>
            <th>Bus Stop</th>
        </tr>
        @foreach(var arrival in @Model)
    {
        <tr>
            <td>@arrival.LineName</td>
            <td>@arrival.Towards</td>
            <td>@arrival.ExpectedArrival.ToString("HH:mm")</td>
            <td>@arrival.StopName</td>
        </tr>
    }
    </table>
</div>